#AnchorPane {
    -fx-background-image: url('../img/submitbg.jpg');
    -fx-background-size: cover;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#FriendsScroll {
    -fx-background-color: transparent;
}

#GlobalScroll {
    -fx-background-color: transparent;

}
