#AnchorPane {
    -fx-background-image: url('../img/signupbackgr.jpg');
    -fx-background-size: cover;
    /*-fx-background-color: #EFF0EB;*/
}

#signupbtn {
    -fx-background-color: #EFF0EB;

}

#loginbtn {
    -fx-background-color: #EFF0EB;

}

#Pane {
    /*-fx-background-color: #E7ECD8;*/
}



